* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Task-Body {
    width: 500px;
    border: 1px solid rgb(191, 169, 212);
    border-radius: 5px;
    overflow-y: auto;
    margin: auto;
}

.event {
    background-color: rgb(226, 223, 223);
    cursor: pointer;
}

.event-reminder {
    border-left: 5px solid green;
}